/* CSS specifico */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header logo top Sony */

#sony-logo {
    width: 100px;
    height: auto;
}

.logo{
    text-align: end;
}

/* Jumbotron top */

#jumbotron-top {
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#banner-returnal-logo {
    width: 250px;
}

.space-returnal {
    margin-top: 300px;
    margin-bottom: 20px;
}

h1 {
    font-size: 25;
}

/* Jumbotron center */

#jumbotron-center {
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#it-takestwo-logo {
    width: 300px;
    margin: 20px 0 20px 10px;
}

.dark-blue {
    background-color: #161c3b;
}

/* Footer */

footer {
    background-color: #00439c;
    color: white;
}
