/* CSS specifico */

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Logo Sony */

#sony-logo {
    width: 100px;
    height: auto;
}

/* Jumbotron top */

#jumbotron-top {
    background-image: url(./img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    margin: 0;
}

#banner-returnal-logo {
    width: 300px;
    margin: 300px 0 50px 20px;
}

/* Jumbotron center */

#jumbotron-center {
    background-image: url(./img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    margin: 0;
}

#it-takestwo-logo {
    width: 300px;
    margin: 20px 0 20px 10px;
}

.dark-blue {
    background-color: #161c3b;
}

/* Footer */

footer {
    background-color: #00439c;
    color: white;
}